body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
  }

  header {
    background-color: #ae00ff;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

.imglogo {
    margin-left: 10px;
    margin-top: 10px;
    width: 100px;
    margin-right: 10px; /* Adicionando margem à direita da logo */
}

.search-container {
  display: flex;
  align-items: center;
}

input[type="text"] {
  padding: 10px;
  border: 1px solid #ffffff;
  background-color: #f1e8f5;
  border-radius: 5px;
  width: 200px;
  font-size: 16px;
  margin-left: 900px;
  margin-bottom: 5px;
  margin-top: 5px;
  background-image: url('lupa.png'); /* Caminho para a imagem de lupa */
  background-position: right center; /* Posição da imagem à direita */
  background-repeat: no-repeat; /* Evita que a imagem se repita */
  padding-right: 30px; /* Espaço para a imagem */
  background-size: 20px 20px; /* Largura e altura desejadas para a imagem */
}

input[type="text"]:hover {
  background-color: #f5e9b2;
}

.vertical-bar {
  border-left: 2px solid #fff; /* Adiciona uma barra vertical */
  height: 30px; /* Ajuste a altura da barra conforme necessário */
  margin: 0 10px; /* Adiciona margem à esquerda e à direita da barra */
}

  /* Estilo para a imagem de perfil */
.imgperfil {
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 50%; /* Torna a imagem circular */
    width: 35px; /* Tamanho fixo para a largura */
    height: 35px; /* Tamanho fixo para a altura */
    border: 2px solid #fff; /* Adiciona uma borda branca (opcional) */
    cursor: pointer; /* Transforma o cursor em um ponteiro quando hover (opcional) */
}

  /* Estilo para o link do perfil */
a {
    text-decoration: none; /* Remove a formatação de link (sublinhado) */
}  

.button{ 
  margin-top: 50px;
  margin-left: 50px;
  border-radius: 4px;
  height: 44px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition : all 200ms linear;
  transition: all 200ms linear;
  padding: 0 30px;
  letter-spacing: 1px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  align-items: center;
  background-color: #2a1e66;
  color: #f5e9b2;
  }

.button:hover{  
  background-color: #f5e9b2;
  color: #2a1e66;
  box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
}

.novo-post {
  position: fixed;
  bottom: 50px; /* Ajuste a distância da parte inferior conforme necessário */
  right: 50px; /* Ajuste a distância da direita conforme necessário */
}


